USE [master]
GO
/****** Object:  Database [ProjectCNPM]    Script Date: 12/1/2019 4:15:22 AM ******/
CREATE DATABASE [ProjectCNPM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectCNPM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ProjectCNPM.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjectCNPM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ProjectCNPM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectCNPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectCNPM]
GO
/****** Object:  Table [dbo].[Cauhoi]    Script Date: 12/1/2019 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cauhoi](
	[maCauHoi] [nvarchar](50) NOT NULL,
	[maMonHoc] [nvarchar](50) NOT NULL,
	[cauHoi] [nvarchar](max) NOT NULL,
	[dapAnA] [nvarchar](max) NULL,
	[dapAnB] [nvarchar](max) NULL,
	[dapAnC] [nvarchar](max) NULL,
	[dapAnD] [nvarchar](max) NULL,
	[dapAnDung] [nvarchar](1) NOT NULL,
	[doKho] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cauhoi] PRIMARY KEY CLUSTERED 
(
	[maCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cauhoitam]    Script Date: 12/1/2019 4:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cauhoitam](
	[maCauHoi] [nvarchar](50) NOT NULL,
	[maMonHoc] [nvarchar](50) NOT NULL,
	[cauHoi] [nvarchar](max) NOT NULL,
	[dapAnA] [nvarchar](max) NOT NULL,
	[dapAnB] [nvarchar](max) NOT NULL,
	[dapAnC] [nvarchar](max) NOT NULL,
	[dapAnD] [nvarchar](max) NOT NULL,
	[dapAnDung] [nvarchar](1) NOT NULL,
	[doKho] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Cauhoitam] PRIMARY KEY CLUSTERED 
(
	[maCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Chitietdiem]    Script Date: 12/1/2019 4:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chitietdiem](
	[maDiem] [nvarchar](50) NOT NULL,
	[soDiem] [float] NOT NULL,
 CONSTRAINT [PK_Chitietdiem] PRIMARY KEY CLUSTERED 
(
	[maDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dapan]    Script Date: 12/1/2019 4:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dapan](
	[maDapAn] [nvarchar](50) NOT NULL,
	[dapAnDung] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Dapan] PRIMARY KEY CLUSTERED 
(
	[maDapAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Monhoc]    Script Date: 12/1/2019 4:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monhoc](
	[maMonHoc] [nvarchar](50) NOT NULL,
	[tenMonHoc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[maMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Taikhoan]    Script Date: 12/1/2019 4:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
	[hoTen] [nvarchar](50) NOT NULL,
	[gioiTinh] [int] NOT NULL,
	[quyenTruyCap] [int] NOT NULL,
 CONSTRAINT [PK_Taikhoan] PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Cauhoi]  WITH CHECK ADD  CONSTRAINT [fk_cauhoi_monhoc] FOREIGN KEY([maMonHoc])
REFERENCES [dbo].[Monhoc] ([maMonHoc])
GO
ALTER TABLE [dbo].[Cauhoi] CHECK CONSTRAINT [fk_cauhoi_monhoc]
GO
USE [master]
GO
